.footer {
	width: 100%;
	position: relative;
	background-color: $blue;
	padding: 20px 0;
	&__logo {
		width: 100%;
		max-width: 150px;
		margin: 0 auto;
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}
	&__links {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		margin-bottom: 20px;
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			max-height: 200px;
		}
		@media screen and (min-width: $desktop) {
			max-height: 150px;
		}
		li {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			font-size: 18px;
			line-height: 21px;
			color: #fff;
			font-weight: bold;
			a {
				color: #fff;
				&:hover {
					color: #437CBD;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
			@media screen and (min-width: $landscape-sm) {
				max-width: 50%;
			}
			@media screen and (min-width: $desktop) {
				margin-bottom: 5px;
				&:nth-child(5n) {
					margin-bottom: 0;
				}
			}
		}
	}
	&__contacts {
		width: 100%;
		position: relative;
	}
	&__adress {
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 20px;
		color: #437CBD;
		font-weight: 500;
	}
	&__mail {
		display: block;
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		padding-left: 30px;
		font-size: 16px;
		line-height: 20px;
		color: #437CBD;
		font-weight: bold;
		&::before {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			background-image: url('../img/mail-icon.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	&__phone {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		position: relative;
		padding-left: 30px;
		font-size: 22px;
		line-height: 26px;
		color: #437CBD;
		font-weight: bold;
		&::before {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			background-image: url('../img/phone-icon.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	&__socials {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@media screen and (min-width: $landscape-sm) {
			width: auto;
			z-index: 10;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		@media screen and (min-width: $desktop) {
			bottom: 2px;
		}
		a {
			display: block;
			position: relative;
			width: 30px;
			height: 30px;
			text-align: center;
			margin-right: 15px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			@media screen and (min-width: $landscape-lg) {
				width: 20px;
				height: 20px;
			}
			&.face {
				background-image: url('../img/fb-logo.svg');
			}
			&.inst {
				background-image: url('../img/inst-logo.svg');
			}
			&.vk {
				background-image: url('../img/vk-logo.svg');
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}