header {
	min-height: 47px;
	@media screen and (min-width: $desktop) {
		min-height: 85px;
	}
}
.nav__wrap {
	width: 100%;
	background-color: rgba(68, 154, 254, 0.58);
	padding-top: 15px;
	padding-bottom: 15px;
	&.fixed {
		position: fixed;
		z-index: 50;
		top: 0;
		left: 0;
	}
	@media screen and (min-width: $desktop) {
		padding: 0;
	}
}
.top__nav {
	position: relative;
	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100vw;
		z-index: 10;
		position: absolute;
		top: 32px;
		left: 0;
		margin-left: 50%;
		transform: translateX(100%);
		opacity: 0.25;
		padding: 0px 15px;
		background-color: rgba(68, 154, 254, 0.58);
		transition: all 0.35s linear;
		&.opened {
			opacity: 1;
			transform: translateX(-50%);
		}
		@media screen and (min-width: $desktop) {
			width: 100%;
			position: static;
			transform: none;
			opacity: 1;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			background-color: transparent;
		}
	}
	&__item {
		display: block;
		width: 100%;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.09em;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		&.active {
			a {
				color: #4193F1;
			}
		}
		a {
			color: #fff;
		}
		@media screen and (min-width: $desktop) {
			width: auto;
			flex: 1 1 auto;
			margin: 0;
			order: 3;
			text-align: center;
			padding-top: 10px;
			padding-bottom: 10px;
			&:nth-child(-n + 4) {
				order: 1;
			}
			a {
				&:hover,
				&:focus {
					color: #4193F1;
				}
			}
		}
		&.logo {
			text-align: center;
			margin-bottom: 20px;
			order: 2;
			@media screen and (min-width: $desktop) {
				margin-bottom: 0;
			}
		}
		&.subnav {
			position: relative;
			&.opened {
				&::after {
					top: 5px;
					transform: rotate(-45deg);
				}
			}
			&::after {
				content: '';
				position: absolute;
				width: 12px;
				height: 12px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
				top: 6px;
				left: 150px;
				transform: rotate(-135deg);
				transition: all 0.3s linear;
			}
			@media screen and (min-width: $desktop) {
				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 30px;
					bottom: -20px;
					left: 0;
					background-color: transparent;
					cursor: pointer;
				}
				&::after {
					transform: rotate(-45deg) translateX(-50%);
					top: auto;
					bottom: -5px;
					left: 50%;
					cursor: pointer;
				}
				&:hover {
					.top__nav__subnav {
						top: 60px;
						visibility: visible;
						opacity: 1;
						transition-delay: 0s;
					}
				}
			}
		}
	}
	&__subnav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: none;
		width: 100%;
		padding-top: 10px;
		padding-left: 20px;
		font-size: 16px;
		line-height: 20px;
		a {
			color: #fff;
		}
		@media screen and (min-width: $desktop) {
			display: block;
			position: absolute;
			z-index: 10;
			width: 200px;
			border-radius: 6px;
			top: 70px;
			left: 50%;
			border: 1px solid rgba(68,154,254,.58);
			padding: 15px 20px;
			transform: translateX(-50%);
			background-color: #fff;
			box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear 0s, all 0.25s linear;
			transition-delay: 0s;
		}
		&__item {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			a {
				color: #fff;
			}
			@media screen and (min-width: $desktop) {
				a {
					color: rgba(68,154,254,.58);
				}
				span {
					color: #4193f1;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// Top mobile menu trigger
// Hamburger
.hamburger {
	padding: 0;
  display: block;
  outline: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-left: auto;
  overflow: visible;
  @media screen and (min-width: $desktop) {
  	display: none;
  }
  &:focus {
  	outline: none;
  }
}
.hamburger-box {
  width: 21px;
  height: 17px;
  display: block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 21px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
  top: -14px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
   transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}