// Index page

// Main slider

.main__slider {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
	&__container {
		width: 100%;
		background: radial-gradient(717.97px at 48.6% 41.28%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #ECECEC;
		@media screen and (min-width: $landscape-lg) {
			padding-bottom: 30px;
		}
	}
	&__item {
		width: 100%;
		@media screen and (min-width: $landscape-lg) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	&__image {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		margin-bottom: 20px;
		@media screen and (min-width: $landscape-lg) {
			max-width: 560px;
			margin: 0;
		}
	}
	&__text {
		width: 100%;
		@media screen and (min-width: $landscape-lg) {
			width: calc(100% - 600px);
		}
	}
	&__title {
		width: 100%;
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 22px;
		line-height: 30px;
		color: #444;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		font-weight: bold;
		@media screen and (min-width: $landscape-lg) {
			max-width: 320px;
			font-size: 44px;
			line-height: 55px;
		} 
	}
	&__descr {
		width: 100%;
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 16px;
		line-height: 20px;
		color: #3F3F3F;
		@media screen and (min-width: $landscape-lg) {
			max-width: 350px;
		}
	}
	&__link {
		display: block;
		width: 100%;
		max-width: 155px;
		margin: 0 auto;
		border: 1px solid $pink;
		background-color: $pink;
		font-size: 16px;
		color: #fff;
		font-weight: bold;
		text-align: center;
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
		}
		&:hover {
			background-color: #fff;
			color: $pink;
		}
	}
	&__btn {
		display: none;
		position: absolute;
		border: none;
		outline: none;
		z-index: 50;
		top: 50%;
		transform: translateY(-50%);
		width: 22px;
		cursor: pointer;
		&.prev {
			left: 0;
		}
		&.next {
			right: 0;
		}
		path {
			transition: all 0.3s linear;
		}
		@media screen and (min-width: $landscape-lg) {
			display: block;
			&:hover {
				path {
					fill: $blue;
				}
			}
		}
	}
	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.swiper-pagination-bullet {
		width: 5px;
		height: 5px;
		margin: 0;
		margin-right: 7px;
		border-radius: 50%;
		background-color: #D7D7D7;
		transition: all 0.3s linear;
		&:last-child {
			margin-right: 0;
		}
	}
	.swiper-pagination-bullet-active {
		margin: 0;
		margin-right: 7px;
		width: 10px;
		height: 10px;
		background-color: #fff;
		border: 2px solid #E1E1E1;
	}
}

// Main slider END

.page__header {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

// Product cards section

.product__about {
	padding-top: 40px;
	padding-bottom: 50px;
	&__card__wrap {
		width: 100%;
		margin-bottom: 40px;
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		@media screen and (min-width: $landscape-lg) {
			justify-content: center;
		}
	}
	&__card {
		position: relative;
		width: 100%;
		max-width: 250px;
		min-height: 285px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 20px;
		padding: 10px 15px;
		padding-top: 25px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		@media screen and (min-width: $landscape-sm) {
			max-width: 235px;
			margin: 0;
			margin-bottom: 20px;
		}
		@media screen and (min-width: $landscape-lg) {
			margin-right: 20px;
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
		&:nth-child(even) {
			justify-content: flex-end;
			.product__about__card__text {
				text-align: right;
			}
			.product__about__card__link {
				background-color: $pink;
			}
		}
		&:first-child,
		&:last-child {
			.product__about__card__text {
				align-self: flex-end;
			}
		}
		&:nth-child(1) {
			.product__about__card__link {
				top: 120px;
				right: 80px;
			}
		}
		&:nth-child(2) {
			.product__about__card__link {
				top: 138px;
				left: 80px;
			}
		}
		&:nth-child(3) {
			.product__about__card__link {
				top: 85px;
				left: 105px;
			}
		}
		&:nth-child(4) {
			.product__about__card__link {
				top: 137px;
				right: 89px;
			}
		}
		&__text {
			width: 100%;
			max-width: 215px;
			margin: 0;
			font-size: 16px;
			line-height: 20px;
			color: #373737;
			align-self: flex-start;
			font-weight: 500;
		}
		&__link {
			position: absolute;
			z-index: 10;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
			background-color: $blue;
			text-align: center;
			font-size: 24px;
			line-height: 24px;
			color: #fff;
			font-weight: 500;
		}
	}
	&__big__card {
		width: 100%;
		margin: 0 auto;
		@media screen and (min-width: $landscape-lg) {
			max-width: 1000px;
			display: flex;
			align-items: stretch;
			justify-content: space-between;
		}
		&__left {
			width: 100%;
			margin-bottom: 30px;
			position: relative;
			border: 4px solid rgba(214, 214, 214, 0.188);
			padding: 20px 25px;
			@media screen and (min-width: $landscape-lg) {
				max-width: 532px;
				margin-bottom: 0;
				border-width: 7px;
				padding: 43px 53px;
				&::before {
					content: '';
					position: absolute;
					z-index: 10;
					bottom: -140px;
    			right: -130px;
					width: 478px;
					height: 521px;
					background-image: url('../img/big-card-product.png');
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}
		&__right {
			width: 100%;
			@media screen and (min-width: $landscape-lg) {
				display: flex;
				width: calc(100% - 582px);
			}
		}
		&__title {
			width: 100%;
			margin-top: 0;
			margin-bottom: 15px;
			font-size: 22px;
			line-height: 26px;
			color: #5E5E5E;
			font-weight: bold;
			@media screen and (min-width: $landscape-sm) {
				font-size: 26px;
				line-height: 30px;
			}
		}
		&__text {
			width: 100%;
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 16px;
			line-height: 20px;
			color: #5E5E5E;
			font-weight: bold;
			@media screen and (min-width: $landscape-lg) {
				max-width: 325px;
			}
		}
		&__link {
			display: block;
			width: 100%;
			max-width: 220px;
			margin: 0 auto;
			font-size: 16px;
			line-height: 20px;
			color: #fff;
			font-weight: bold;
			&:hover {
				background-color: #fff;
				color: $blue;
			}
			@media screen and (min-width: $landscape-lg) {
				margin: 0;
			}
		}
		&__info {
			width: 100%;
			margin: 0;
			font-size: 16px;
			line-height: 20px;
			color: #5e5e5e;
			font-weight: bold;
			@media screen and (min-width: $landscape-lg) {
				align-self: flex-end;
			}
		}
	}
}
// Product cards section END

// Product buy section
.product__buy {
	&__wrap {
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: $blue;
		@media screen and (min-width: $landscape-lg) {
			position: relative;
			padding-top: 90px;
			padding-bottom: 70px;
			background-image: url('../img/map.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@media screen and (min-width: $landscape-lg) {
				&::before {
					content: '';
					position: absolute;
					z-index: 1;
					bottom: 25px;
					left: 39%;
					transform: translateX(-50%);
					width: 304px;
					height: 150px;
					background-image: url('../img/buy-block-bg.png');
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}
	}
	&__block {
		width: 100%;
		position: relative;
		z-index: 5;
		max-width: 300px;
		margin: 0 auto;
		padding: 30px;
		background-color: #fff;
		@media screen and (min-width: $landscape-sm) {
			max-width: 660px;
			padding: 35px;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	&__title {
		width: 100%;
		margin-top: 0;
		margin-bottom: 25px;
		font-size: 24px;
		line-height: 28px;
		color: 444px;
		font-weight: bold;
		@media screen and (min-width: $landscape-sm) {
			max-width: 350px;
			margin-bottom: 30px;
		}
		span {
			display: block;
			width: 100%;
			margin-top: 20px;
			font-size: 14px;
			line-height: 18px;
			color: rgba(0, 0, 0, 0.21);
		}
	}
	&__price {
		width: 100%;
		margin-top: 0;
		margin-bottom: 20px;
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		color: #444;
		font-weight: bold;
		@media screen and (min-width: $landscape-sm) {
			width: calc(100% - 375px);
			text-align: right;
		}
		.price {
			display: block;
			width: 100%;
			text-align: center;
			font-size: 40px;
			line-height: 50px;
			color: $blue;
			font-weight: normal;
			@media screen and (min-width: $landscape-sm) {
				font-size: 49px;
				line-height: 57px;
				text-align: right;
			}
		}
	}
	&__links {
		width: 100%;
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	&__link {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		&:hover {
			background-color: #fff;
			color: $blue;
		}
		&:not(:last-child) {
			background-color: $pink;
			border-color: $pink;
			&:hover {
				background-color: #fff;
				color: $pink;
			}
		}
		@media screen and (min-width: $landscape-sm) {
			max-width: 360px;
			margin-bottom: 0;
			&:not(:last-child) {
				max-width: 210px;
			}
		}
	}
}
// Product buy section END

// Preview blog articles
.blog__articles__preview {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&__list {
		width: 100%;
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		@media screen and (min-width: $landscape-lg) {
			justify-content: center;
			align-items: stretch;
		}
	}
	&__item {
		width: 100%;
		position: relative;
		max-width: 320px;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 30px;
		padding-top: 80px;
		background-color: $blue;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		&::before {
			content: '';
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(146, 196, 254, 0.92);
		}
		@media screen and (min-width: $landscape-sm) {
			margin: 0;
			margin-bottom: 20px;
		}
		@media screen and (min-width: $landscape-lg) {
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			margin-right: 20px;
		}
		@media screen and (min-width: $desktop) {
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
	&__title {
		display: block;
		position: relative;
		z-index: 5;
		width: 100%;
		margin-top: 0;
		margin-bottom: 30px;
		text-align: center;
		font-size: 28px;
		line-height: 33px;
		color: #fff;
		font-weight: bold;
		&:hover {
			color: $blue;
		}
	}
	&__descr {
		position: relative;
		z-index: 5;
		width: 100%;
		margin-top: 0;
		margin-bottom: 35px;
		text-align: center;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
	}
	&__link {
		position: relative;
		z-index: 5;
		display: block;
		width: 100%;
		max-width: 190px;
		margin: 0 auto;
		margin-bottom: 20px;
		border: 1px solid #fff;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		&:hover {
			background-color: #fff;
			color: $blue;
		}
		@media screen and (min-width: $landscape-lg) {
			margin-top: auto;
		}
	}
	&__more {
		display: block;
		width: 100%;
		max-width: 182px;
		margin: 0 auto;
		margin-top: 20px;
		background-color: #fff;
		color: $blue;
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
		&:hover {
			background-color: $blue;
			color: #fff;
		}
	}
}
// Preview blog articles END