.section-banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@media screen and (min-width: $landscape-lg) {
		background-size: contain;
		background-position: 800px 0;
	}
}
.section__banner {
	width: 100%;
	position: relative;
	&__item {
		width: 100%;
		@media screen and (min-width: $landscape-lg) {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		@media screen and (min-width: $desktop) {
			justify-content: center;
		}
	}
	&__image {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		@media screen and (min-width: $landscape-sm) {
			max-width: 346px;
			margin: 0 auto; 
			margin-bottom: 20px;
		}
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
			margin-right: 15px;
		}
	}
	&__text {
		width: 100%;
		margin-bottom: 20px;
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
			max-width: 430px;
		}
	}
	&__title {
		width: 100%;
		margin-top: 0;
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 32px;
		color: #494949;
		font-weight: bold;
		text-transform: uppercase;
		@media screen and (min-width: $landscape-sm) {
			font-size: 24px;
		}
		span {
			color: $pink;
			&.blue {
				color: $blue;
			}
		}
	}
	&__descr {
		width: 100%;
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 24px;
		color: #3F3F3F;
	}
	&__link {
		display: block;
		width: 100%;
		max-width: 216px;
		margin: 0 auto;
		margin-bottom: 20px;
		color: #fff;
		&:hover {
			background-color: #fff;
			color: $blue;
		}
		@media screen and (min-width: $landscape-lg) {
			margin: 0;
		}
	}
}

.section__for {
	padding-top: 30px;
	padding-bottom: 30px;
	&__title {
		width: 100%;
		margin-bottom: 20px;
		font-size: 26px;
		line-height: 32px;
		color: #494949;
	}
	&__tags {
		width: 100%;
		margin-bottom: 50px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		@media screen and (min-width: $landscape-sm) {
			justify-content: flex-start;
		}
		&__item {
			display: block;
			width: auto;
			margin-right: 15px;
			margin-bottom: 15px;
			border: none;
			border-radius: 30px;
			padding: 0px 20px;
			padding-top: 5px;
    	padding-bottom: 9px;
			background-color: #F4F4F4;
			font-size: 16px;
			line-height: 21px;
			color: #494949;
			transition: all 0.3s ease-in-out;
			@media screen and (min-width: $landscape-sm) {
				margin-right: 15px;
			}
			&.active,
			&:hover {
				color: #fff;
				background-color: $pink;
			}
			&.more {
				background-color: #C7C7C7;
				color: #fff;
			}
			&.hide {
				opacity: 0;
			}
			&.show {
				opacity: 1;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__info {
		width: 100%;
		&__title {
			width: 100%;
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 26px;
			line-height: 32px;
			font-weight: bold;
			color: #494949;
		}
		&__text {
			width: 100%;
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 16px;
			line-height: 20px;
			color: #3F3F3F;
		}
	}
}

.section__effects {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #92C4FE;
	&__title {
		color: #fff;
	}
	&__info {
		width: 100%;
		margin-top: 0;
		margin-bottom: 50px;
		font-size: 16px;
		line-height: 20px;
		color: #fff;
	}
	&__list {
		width: 100%;
		margin: 0;
		padding: 0;
		list-style-type: none;
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: flex-start;
			justify-content: space-around;
			flex-wrap: wrap;
		}
		@media screen and (min-width: $landscape-lg) {
			justify-content: flex-start;
		}
		&__item {
			width: 100%;
			margin-bottom: 30px;
			position: relative;
			padding-top: 55px;
			font-size: 16px;
			line-height: 20px;
			color: #FFF;
			&::before {
				content: '+';
				position: absolute;
				top: 0;
				left: 0;
				width: 27px;
				height: 27px;
				font-size: 24px;
				line-height: 24px;
				color: #92C4FE;
				text-align: center;
				font-weight: 500;
				border-radius: 50%;
				background-color: #FFF;
				box-shadow: 0px 4px 7px rgba(79, 131, 190, 0.708);
			}
			@media screen and (min-width: $landscape-sm) {
				max-width: 47%;
			}
			@media screen and (min-width: $landscape-lg) {
				max-width: 230px;
				margin-right: 25px;
				&:nth-child(4n) {
					margin-right: 0;
				}
			}
		}
	}
}

.section__product {
	width: 100%;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	@media screen and (min-width: $desktop) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	&__info {
		width: 100%;
		margin: 0;
		position: relative;
		padding: 25px 30px;
		border: 7px solid rgba(214, 214, 214, 0.356);
		font-size: 16px;
		line-height: 20px;
		color: #5E5E5E;
		@media screen and (min-width: $desktop) {
			padding: 48px 86px;
			padding-right: 530px;
			&::before {
				content: '';
				position: absolute;
				top: -100px;
    		right: 30px;
				width: 428px;
				height: 497px;
				background-image: url('../img/section-product.png');
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}

.section__health {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background: radial-gradient(715.86px at 48.6% 41.28%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #ECECEC;
	&__info {
		width: 100%;
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 20px;
		color: #494949;
	}
}