$mobile-sm: 320px;
$mobile: 360px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;

$blue: #92C4FE;
$pink: #FDAACB;

@font-face {
		font-family: 'DINPro';
		src: url('../fonts/subset-DINPro-Bold.woff2') format('woff2'),
				url('../fonts/subset-DINPro-Bold.woff') format('woff'),
				url('../fonts/subset-DINPro-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
}

@font-face {
		font-family: 'DINPro';
		src: url('../fonts/subset-DINPro-Medium.woff2') format('woff2'),
				url('../fonts/subset-DINPro-Medium.woff') format('woff'),
				url('../fonts/subset-DINPro-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
}

@font-face {
		font-family: 'DINPro';
		src: url('../fonts/subset-DINPro-Black.woff2') format('woff2'),
				url('../fonts/subset-DINPro-Black.woff') format('woff'),
				url('../fonts/subset-DINPro-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
}

@font-face {
		font-family: 'DINPro';
		src: url('../fonts/subset-DINPro-Regular.woff2') format('woff2'),
				url('../fonts/subset-DINPro-Regular.woff') format('woff'),
				url('../fonts/subset-DINPro-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

html {
	overflow-x: hidden;
}
body {
	overflow: hidden;
	font-family: 'DINPro', sans-serif;
	// @media screen and (min-width: $desktop) {
	// 	background-image: url('../img/body-bg.png');
	// 	background-position: center;
	// 	background-repeat: no-repeat;
	// 	background-attachment: fixed;
	// }
	a {
		color: $blue;
		transition: all 0.3s linear;
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5 {
	width: 100%;
	color: #444;
	margin-top: 0;
}
h2 {
	font-size: 26px;
	line-height: 33px;
}
h3 {
	font-size: 22px;
	line-height: 26px;
}
h4 {
	font-size: 18px;
	line-height: 24px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
}

.link,
.btn {
	border-radius: 30px;
	border: 1px solid $blue;
	background-color: $blue;
	line-height: 20px;
	padding-top: 11px;
	padding-bottom: 11px;
	text-align: center;
}


@import 'header';
@import 'index';
@import 'section';
@import 'footer';