<footer class="footer">
	<div class="container">
		<div class="row align-items-lg-center align-items-xl-center justify-content-lg-between justify-content-xl-around">
			<div class="col-12 col-lg-2">
				<div class="footer__logo">
					<img src="img/logo.svg" alt="">
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-5">
				<ul class="footer__links">
					<li class="footer__links__item"><a href="#">Главная</a></li>
					<li class="footer__links__item"><a href="#">О продукте</a></li>
					<li class="footer__links__item"><a href="#">Сертификаты</a></li>
					<li class="footer__links__item"><a href="#">Фотогалерея</a></li>
					<li class="footer__links__item"><a href="#">О коллоидном кремнии</a></li>
					<li class="footer__links__item"><a href="#">Презентация</a></li>
					<li class="footer__links__item"><a href="#">Контакты</a></li>
					<li class="footer__links__item"><a href="#">Где купить</a></li>
					<li class="footer__links__item"><a href="#">Отзывы</a></li>
					<li class="footer__links__item"><a href="#">Оптовикам</a></li>
				</ul>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="footer__contacts">
					<p class="footer__adress">
						143200 Московская область г. Можайск ул. Мира д.16 пом.17
					</p>
					<a href="mailto:mail@aqualevilal.com" class="footer__mail">mail@aqualevilal.com</a>
					<a href="tel:88005051743" class="footer__phone">8 800 505 17 43</a>
					<div class="footer__socials">
						<a href="#" class="face"></a>
						<a href="#" class="inst"></a>
						<a href="#" class="vk"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>