<header>
	<div class="nav__wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="top__nav">
						<button class="hamburger hamburger--collapse" type="button">
		          <span class="hamburger-box">
		            <span class="hamburger-inner"></span>
		          </span>
		        </button>
						<ul class="top__nav__list">
							<li class="top__nav__item logo">
								<a href="#">
									<img src="img/logo.svg" alt="Logo">
								</a>
							</li>
							<li class="top__nav__item">
								<a href="#">
									Главная
								</a>
							</li>
							<li class="top__nav__item subnav">
								<a href="#">
									О продукте
								</a>
								<ul class="top__nav__subnav">
									<li class="top__nav__subnav__item"><a href="#" >Сертификаты</a></li>
									<li class="top__nav__subnav__item"><a href="#" >Фотогалерея</a></li>
									<li class="top__nav__subnav__item"><a href="#" >О коллоидном кремнии</a></li>
									<li class="top__nav__subnav__item"><a href="#" >Презентация</a></li>
								</ul>
							</li>
							<li class="top__nav__item">
								<a href="#">
									Контакты 
								</a>
							</li>
							<li class="top__nav__item">
								<a href="#">
									Где купить
								</a>
							</li>
							<li class="top__nav__item">
								<a href="#">
									Отзывы
								</a>
							</li>
							<li class="top__nav__item">
								<a href="#">
									Оптовикам
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>